<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul class="footer_box">
          <h4>Links</h4>
          <li><a href="sports.html">Games</a></li>
          <li><a href="schedule.html">Schedule</a></li>
          <li><a href="events.html">Sport Events</a></li>
          <li><a href="guidelines.html">Club Guidelines</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="footer_box">
          <h4>About</h4>
          <li><a href="about.html">Sports Club</a></li>
          <li><a href="teams.html">Teams</a></li>
          <li><a href="coordinators">Club Co-ordinators</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="footer_box">
          <!-- <h4>Register</h4> -->
          <div class="footer_search">
               <a href="https://goo.gl/forms/Fzcxi5QXHOcTdrTA2" class="btn btn-large">Register yourself</a>
          </div>
          <ul class="social text-center">
            <li class="facebook"><a href="#"><span> </span></a></li>
            <li class="twitter"><a href="#"><span> </span></a></li>
            <li class="instagram"><a href="#"><span> </span></a></li>
            <li class="pinterest"><a href="#"><span> </span></a></li>
            <li class="youtube"><a href="#"><span> </span></a></li>
          </ul>

        </ul>
      </div>
    </div>
    <div class="row footer_bottom">
        <div class="copy right" style="float:right;">
             <p>&copy; <script>document.write(new Date().getFullYear());</script> Sports Club @ <a href="//dietms.github.io/Team-Codex">DIEMS</a></p>
        </div>
        <div class="copy" style="float:left;">
          Designed and Developed by <a href="//dietms.github.io" style="color:#fff;font-weight:200;">2b||!2b coding club</a>
        </div>
      </div>
  </div>
</div>
