	<div class="header">
		<div class="container">
			<div class="row">
			  <div class="col-md-12">
				 <div class="header-left">
  					 <div class="logo">
    						<a href="index.html"><img src="images/logo.png" alt=""/></a>
  					 </div>
    	    </div>

            <div class="menu" style="float:right;">
 						  <a class="toggleMenu" href="#"><img src="images/nav.png" alt="" /></a>
 						    <ul class="nav" id="nav">
 						    	<li {% if page.title == 'home' %}class="current"{% endif %}><a href="index.html">Home</a></li>
 						    	<li {% if page.title == 'schedule' %}class="current"{% endif %}><a href="schedule.html">Schedule</a></li>
                  <li {% if page.title == 'about' %}class="current"{% endif %}><a href="about.html">About Club</a></li>
                  <li {% if page.title == 'register' %}class="current"{% endif %}><a href="https://goo.gl/forms/Fzcxi5QXHOcTdrTA2">Register</a></li>
 								<div class="clear"></div>
 							</ul>
 							<script type="text/javascript" src="js/responsive-nav.js"></script>
 				    </div>
		           <div class="clear"></div>
	       </div>
	      </div>
		 </div>
	    </div>
	</div>
